In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("../data/old_data/text_conv_data.xlsx")

In [3]:
df = df.dropna(subset=['Text Content'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4330 entries, 0 to 4329
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  4330 non-null   object
 1   Code          4330 non-null   object
dtypes: object(2)
memory usage: 67.8+ KB

In [5]:
class_distribution = df['Code'].value_counts()
print(class_distribution)

Solution Discussion                  1411
Social Conversation                   798
Investigation and Exploration         377
Solution Usage                        368
Motivation                            288
Bug Reproduction                      245
Potential New Issues and Requests     230
Observed Bug Behaviour                131
Task Progress                         125
Expected Behaviour                    124
Workarounds                            89
Contribution and Commitment            83
Action on Issue                        61
Name: Code, dtype: int64

In [6]:
df = df[df['Text Content'] != '1']

In [7]:
class_distribution = df['Code'].value_counts()
print(class_distribution)

Solution Discussion                  1411
Social Conversation                   798
Investigation and Exploration         377
Solution Usage                        368
Motivation                            288
Bug Reproduction                      245
Potential New Issues and Requests     230
Observed Bug Behaviour                131
Task Progress                         125
Expected Behaviour                    124
Workarounds                            89
Contribution and Commitment            83
Action on Issue                        61
Name: Code, dtype: int64

In [8]:
labels_to_remove = [ "Testing",'Future Plan','Issue Content Management']
df = df[~df['Code'].isin(labels_to_remove)]

In [9]:
class_distribution = df['Code'].value_counts()
print(class_distribution)

Solution Discussion                  1411
Social Conversation                   798
Investigation and Exploration         377
Solution Usage                        368
Motivation                            288
Bug Reproduction                      245
Potential New Issues and Requests     230
Observed Bug Behaviour                131
Task Progress                         125
Expected Behaviour                    124
Workarounds                            89
Contribution and Commitment            83
Action on Issue                        61
Name: Code, dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4330 entries, 0 to 4329
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  4330 non-null   object
 1   Code          4330 non-null   object
dtypes: object(2)
memory usage: 101.5+ KB

In [11]:
print(df.columns)

Index(['Text Content', 'Code'], dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4330 entries, 0 to 4329
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  4330 non-null   object
 1   Code          4330 non-null   object
dtypes: object(2)
memory usage: 101.5+ KB

In [13]:
df.dropna(inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4330 entries, 0 to 4329
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  4330 non-null   object
 1   Code          4330 non-null   object
dtypes: object(2)
memory usage: 101.5+ KB

In [15]:
import pandas as pd
from imblearn.over_sampling import RandomOverSampler

# Separate the feature columns and the target column
X = df['Text Content']
y = df['Code']

# Create an instance of RandomOverSampler
oversampler = RandomOverSampler()

# Perform oversampling on the data
X_resampled, y_resampled = oversampler.fit_resample(X.to_numpy().reshape(-1, 1), y)

# Convert the oversampled arrays back to a DataFrame
df_oversampled = pd.DataFrame({'Text Content': X_resampled.flatten(), 'Code': y_resampled})

# Verify the class distribution after oversampling
print(df_oversampled['Code'].value_counts())

Expected Behaviour                   1411
Motivation                           1411
Social Conversation                  1411
Contribution and Commitment          1411
Solution Discussion                  1411
Task Progress                        1411
Workarounds                          1411
Action on Issue                      1411
Potential New Issues and Requests    1411
Solution Usage                       1411
Observed Bug Behaviour               1411
Investigation and Exploration        1411
Bug Reproduction                     1411
Name: Code, dtype: int64

In [16]:
df_oversampled.head(9)

                                        Text Content                 Code
0                   Node.js (JavaScript) Wrapper API   Expected Behaviour
1                      Because JavaScript is Awesome           Motivation
2                                                +1!  Social Conversation
3                                                 +1  Social Conversation
4                                               :+1:  Social Conversation
5                                                 +1  Social Conversation
6                     Just what I was searching for.  Social Conversation
7                                               :+1:  Social Conversation
8  As quoted from the offical website http://www....           Motivation

In [17]:
df_oversampled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18343 entries, 0 to 18342
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Text Content  18343 non-null  object
 1   Code          18343 non-null  object
dtypes: object(2)
memory usage: 286.7+ KB

In [18]:
class_distribution = df_oversampled['Code'].value_counts()
print(class_distribution)

Expected Behaviour                   1411
Motivation                           1411
Social Conversation                  1411
Contribution and Commitment          1411
Solution Discussion                  1411
Task Progress                        1411
Workarounds                          1411
Action on Issue                      1411
Potential New Issues and Requests    1411
Solution Usage                       1411
Observed Bug Behaviour               1411
Investigation and Exploration        1411
Bug Reproduction                     1411
Name: Code, dtype: int64

In [19]:
import pandas as pd


# Shuffle the rows
df_oversampled_shuffled = df_oversampled.sample(frac=1, random_state=42)

# Reset the index of the shuffled DataFrame
df_oversampled_shuffled = df_oversampled_shuffled.reset_index(drop=True)

# Print the shuffled DataFrame
print(df_oversampled_shuffled)

                                            Text Content  \
0      I new here but have been trolling for a while,...
1      However, the CPU utilization remains 0 for all...
2              General directions to install on OSX:CODE
3                           *         [cycle_range] URL
4                                        Test code: CODE
...                                                  ...
18338  I mainly created this issue in case someone el...
18339  When I don't specify n_jobs at all it works fi...
18340  This thread has been automatically locked sinc...
18341  Please remove the assignee, as this issue is i...
18342  https://github.com/explosion/spaCy/commits/mas...

                                    Code
0            Contribution and Commitment
1                 Observed Bug Behaviour
2      Potential New Issues and Requests
3                     Expected Behaviour
4          Investigation and Exploration
...                                  ...
18338                         Motivation
18339             Observed Bug Behaviour
18340                    Action on Issue
18341                    Action on Issue
18342                      Task Progress

[18343 rows x 2 columns]

In [20]:
df_oversampled.head(4)

                       Text Content                 Code
0  Node.js (JavaScript) Wrapper API   Expected Behaviour
1     Because JavaScript is Awesome           Motivation
2                               +1!  Social Conversation
3                                +1  Social Conversation

In [21]:
df_oversampled.to_csv("../data/old_data_oversampled.csv")